<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Rumi G</title>
	<link href='https://fonts.googleapis.com/css?family=Roboto:300&subset=latin,cyrillic'
	    rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Roboto+Mono&subset=latin,cyrillic'
	    rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/css/style.css">
	<!-- Global site tag (gtag.js) - Google Analytics -->

	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-68406954-3"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'UA-68406954-3');
	</script>
</head>
